.text-small {
    font-size: 85%;
}

body {
    background-image: url(../gambar/Login.svg);
    background-size: cover;
}

.nav-link {
    color: black;
}

.btn {
    width: 8rem !important;
    border: none;
    color: white;
    border-radius: 9px;
    height: 2.3rem;
}

.topbar span a {
    color: white;
    font-weight: 300;
}

.btn-booking {
    background-color: #00cc45;
    height: 3rem;
    width: 12rem;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 700;
}

.hyundai {
    background-color: transparent;
    height: 6.8rem;
    mix-blend-mode: normal;
    object-fit: cover;
    position: relative;
    width: 12rem;
    margin-top: 2.7rem;
    margin-left: 6rem;
}

.suzuki {
    background-color: transparent;
    height: 8rem;
    mix-blend-mode: normal;
    position: relative;
    width: 10rem;
    margin-top: 2.1rem;
    margin-left: 8.2rem;
}

.toyota {
    background-color: transparent;
    height: 9rem;
    mix-blend-mode: normal;
    position: relative;
    width: 12rem;
    margin-top: 1.6rem;
    margin-left: 6.5rem;
}

.mitsubishi {
    background-color: transparent;
    height: 9.2rem;
    mix-blend-mode: normal;
    position: relative;
    width: 8.4rem;
    margin-top: 1.3rem;
    margin-left: 6rem;
}

.nissan {
    background-color: transparent;
    height: 10rem;
    mix-blend-mode: normal;
    position: relative;
    width: 10rem;
    margin-top: 1.2rem;
    margin-left: 10rem;
}

.chevrolet {
    background-color: transparent;
    height: 6rem;
    mix-blend-mode: normal;
    position: relative;
    width: 12rem;
    margin-left: 5.2rem;
    margin-top: 3.5rem;
}

.whyus {
    margin-left: 7%;
    margin-top: 2rem;
}

.ourlocation {
    text-align: center;
    margin-top: 3%;
    color: white;
}

.kalimatourlocation {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 130%;
}
.logo-search {
    position: absolute;
    top: 0.5rem;
    right: 2rem;
}
.kingwasherservice {
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
}
